<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <style type="text/css">
#Filepost {  
  max-width: 50%;  
  float: left;  
  position: relative;
}

#Classify {  
  margin-left: 40%;  
  position: relative;
}

#filepost {  
  max-width: 50%;
}

</style> <title>StellarSpecter</title>
  </head>
  <body>{{ js_resources|safe }} {{ css_resources|safe }}
    <div>
	<a href="/">Home</a>
    </div><br><br>


     <div>
      <div id="Filepost">
        <form action="" method="POST" enctype="multipart/form-data" id="filepost">
          <fieldset form="filepost"> <legend>Please submit your file for
              plotting and analisys</legend> {%csrf_token%}<br>
            <br>
            <input type="file" multiple="multiple" required="required" name="File"> <!--accept="*.txt"-->
            <input name="postname" value="FILEPOST" type="hidden"> <br>
            <input value="Upload" type="submit"> </fieldset>
        </form>
      </div>
      <div id="Classify">
        <form action="" method="POST" id="classify">
          <fieldset form="classify"> <legend>Click here for star classification</legend>
            {%csrf_token%} <input name="postname" value="CLASSIFY" type="hidden">
            <input value="Start" type="submit"> </fieldset>
        </form>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div style="margin-left: 8px; margin-top: 67px;"> 
    {% if feedback %} 
        {{ feedback }} 
    {% endif %} </div>
    <br>
    <br>
    <br>
    <h2>Start light spectrum plot for analisys</h2>
    <h3>Here goes the plot</h3>
    {{div.plot|safe}}

    {{ script|safe }}
  </body>
</html>
